* { margin: 0px; padding: 0px; font-size: 14px; font-weight: bolder; }
ul { list-style-type: none; }
a { text-decoration: none; }

body { margin: 4px; }

.wrap { width: 500px; height: 254px; border: 0px solid black; margin: 0px auto; }

.nav { position: absolute; }
.nav a { display: block; width: 85px; height: 35px; line-height: 35px; text-align: center; margin-bottom: 1px; color: White; background-color: Gray; }
.nav a:hover { background-color: Green; text-decoration: underline; width: 90px; border-right: 1px solid Green; }

.content { width: 400px; border: 1px solid Gray; position: absolute; margin-left: 92px; }

h4 { margin: 2px; }

.selectTheme{width: 500px; margin:0px auto;}